# Dependencies and build output
**/node_modules
**/dist
**/build
**/.next
**/.turbo
**/*.tsbuildinfo
.pnpm-store

# Testing
**/coverage
**/.nyc_output
**/test-results*
apps/api/restler/Compile
apps/api/restler/Test
apps/api/restler/Fuzz
apps/api/restler/FuzzLean
apps/api/restler/openapi.json

# IDE and editor files
.vscode
.idea
**/*.swp
**/.DS_Store

# Git and CI
.git
.github

# Environment files
**/.env
**/.env.local
**/.env.*.local

# Docs and misc
docs
**/*.md
**/*.log
**/.cache
**/.temp
**/tmp
